/* .software-card-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
} */

.dark-blue-btn {
    background-color: #0D6AAD;
    color: #fff;
    border-color: #0D6AAD;
}

.dark-blue-btn:hover {
    background-color: #fff;
    border-color: #0D6AAD;
    color: #0D6AAD;
}

.not-found-alert {
    width: 100%;
}

.dark-blue-border {
    border-color: #0D6AAD;
    color: 0D6AAD;
}

.dark-blue-border:hover {
    border-color: #0D6AAD;
    background-color: #0D6AAD;
    color: #ffffff;
}

.non-clickable {
    pointer-events: none;
    text-decoration: none;
}

.cart-button {
    min-width: 65px;
}

/* Стиль для кнопки корзины */
.cart-button {
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и цвета */
}

/* Когда кнопка в состоянии hover, фон становится голубым, а цвет текста - белым */
.cart-button:hover {
    background-color: #0D6AAD; /* Голубой фон */
    color: #fff; /* Белый текст */
}

/* Для картинки корзины */
.cart-button img {
    transition: filter 0.3s ease; /* Плавный переход для картинки */
}

/* При наведении на кнопку корзины, изображение становится белым */
.cart-button:hover img {
    filter: brightness(0) invert(1); /* Белая иконка корзины */
}