

/* Стиль для кнопки корзины */
.otm-button {
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и цвета */
    color: #0D6AAD;
    background-color: #fff
}

/* Состояние при наведении */
.otm-button:hover {
    color: #fff; /* Белый текст при наведении */
    border-color: #ea0404; /* Голубая рамка при наведении */
    background-color:#ea0404
}

